.App {
  text-align: center;
}
nav {
  background-color: #5f27cd;
  color: #f2f5f8;
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}